*{
max-width: 100%;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.scroll{
    transform: translateX(200%);
    transition: transform 0.4s ease;
}
.scroll:nth-of-type(even){
    transform: translateX(-200%);
    }
    .scroll.show{
        transform: translateY(0);
    }

.navbarContent{
    border: 1px solid #ffffff;
    border-radius: 25px;
    margin: 5px;
    width: 100px;
    text-align: center;
    height: 30px;
    font-size: 10px;
}
body{
    background-color: #000;
    color: #fff;
}
.nav{
    display: grid;
    grid-template-columns: 5fr 6fr 6fr;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 25px 0;
    margin: 0;
    color:#fff;
}
.navbarList{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
 }

 .nav-link{
     color: gray;
     border: 1px solid gray;
     border-radius: 30px;
     padding: 6px 30px;
 }
 .nav-link:hover{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 6px 30px;
}
  .navbarlogo{
      color: #fff;
      font-weight: 900;
  }
 .navbarlogo, .nav-link{
text-decoration: none;


 }
 
.hometopdivall{
    display: flex;
    margin-top: 50px;

}
.containerAll{
    animation-name: fade;
    animation-duration: 5s;
    opacity: 0; 
 animation-fill-mode:forwards;
 
}
@keyframes fade{
    100%{
        opacity: 1;
    }
   
}
.hometopdiv{
    width: 70%;
    margin-top: 40px;
}
.homeimageright{
    margin-top: 50px;
    width: 30%;
}

.homeimage{
   
    width: 350px;
    height: 450px;
    border: 1px solid gray;
    border-radius: 20px;
    background-image: url(../images/DaveSose\ 1.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    transform: rotate(8deg);
    z-index: -1;

}

.hometopP{
   
    font-weight: 500;
    margin-top: -40px;
    font-size: 1.5rem;
}
.hometop{

    font-weight: 800;
    font-size: 7rem;
    line-height: 1;
}
.hometop > a{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    color: transparent;   
    text-decoration: none;
    z-index: 2;
}

.nametabAlign{
display: flex;
width: 100%;

}
.nametabAlignfirst{
width:50%;
}
.nametabAlignsecond{
    width: 50%;
}
.nametab{
    margin-top: 100px;
   
}
.nametabP{
font-weight: 300;
font-size: 18px;

}

.hometop1{
    padding-top: 20px;
}
.fullimage{
    width: 100%;
    height: 900px;
    background-image: url(../images/DaveSose2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   border: 1px solid gray;


}

.aboutdetails {
    width: 50%;
}

.textspans{
    margin: 0;
    font-weight: 600;
    font-size:10rem;
    line-height: 1;
}
.textspan2{
    margin-left: 600px;
    text-decoration: none;
    color: #fff;

}
.textspan1, .textspan3{
    text-decoration: none;
    color: #fff;
}
.textspan1:hover{
    font-size: 9rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    color: black;

}
.textspan2:hover{
    font-size: 9rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    color: black;
}
.textspan3:hover{
    font-size: 9rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    color: black;
}

.sayHelloHere{
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}
.contactHello{
    font-size: 2em;
}

.homePageFooter1{
    margin-top: 80px;
    display: grid;
    grid-template-columns: 2fr 5fr 1fr 1fr 1fr 1fr ;
    font-size: 16px;
    font-weight: 400;
}
.footerSocial{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

/* Styling for work page*/

.hometopwork{
    font-size: 1.2em;
    text-align: center;
    line-height: 1;
}

.workImages{
    display: flex;
    padding-bottom: 80px;
    
}
.workImagesdiv{
    width: 50%;
    margin: 10px;
}
.workImagesdiv1, .workImagesdiv2, .workImagesdiv3, .workImagesdiv4{
    background-image: url("../images/davesosework.PNG");
background-size: cover;
background-repeat: no-repeat;
}

.comingsoon{
    border: 1px solid gray;
    width: 100%;
    height: 400px;
    position: relative;
}
.comingsoonText{
    font-size: 18px;
    font-weight: 600;
}
.seemoreAboutdiv{
    position: relative;
    margin: -90px 10px 100px 0;
}

.seemoreAboutMain{
    display: flex;
    margin-right: 10px;    
}
.seemoreAbout{
    background-color: transparent;
    color: white;
    border: 1px solid grey;
    padding: 5px;
    width: 10rem;
    height: 3em;
    border-radius: 20px;
    
}

.seemoreAbout:hover{
    background-color: grey;
    color: #000;
    border: 0;
    padding:5px;
}
/* About code starts here*/
.hometopabout{
text-align: center;
    font-size: 1.3em;
    margin: 100px 0 20px 0;
    font-weight: 600;
}

.aboutMeFirstImage{
  
        width: 100%;
        height: 900px;
       border: 1px solid gray;
    border-radius: 10px;
    background-image: url("../images/davesoseall.jpg");
    background-size: cover;
    
}

.aboutIntroduction{
    font-size: 0.5em;
    text-transform: uppercase;
    line-height: 1.2;
    padding-bottom: 10px;
    font-weight: 400;

}
hr.aboutLine {
    border: 0.5px solid gray;
}

.aboutExperience{
    font-weight: 400;
    padding-top: 50px;
    font-size: 24px;
}

.historyStory{
    display: flex;
    width: 100%;
    font-weight: 400;
    padding-top: 50px;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    padding-bottom: 50px;
}

.historyText{
    width: 50%;
    margin-right: 20px;
}

.historyImage{
    width: 50%;
    height: 400px;
    background-image: url("../images/daveabout.jpg");
    background-size: cover;
    
}
.homePageFootersmall{
    display: none;
}
 
/*Contact page starts here*/

.containercontactUs{
    display: flex;
    width: 100%;
    margin-top: 100px;

  
}
    .contactusbody{
        background-color: #000;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
         padding: 20px 40px;
         border-radius: 5px;
         border: 1px solid #fff;
         
     }


.containercontactusFooter{
    width: 30%;
 
    
}
.containercontactusForm{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-control{
    position: relative;
    margin: 20px 0 20px;
    width: 300px;
}
.form-control  input{
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgba(248, 244, 244, 0.3);
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 14px;
    color: #fff;

}
.form-control  input:focus,
.form-control input:valid{
    outline: 0;
    border-bottom-color: steelblue;
}
.btn{
    cursor: pointer;
    display: inline-block;
    background-color: steelblue;
    width: 100%;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    color: #fff;
    border: 0;
    border-radius: 5px;
}
textarea{
    width: 100%;
    background-color: #000;
    color: #fff;
    height: 100px;
    border-radius: 10px;

}
.contactInfo{
    margin:10px;

}
.btn:focus{
    outline: 0;
}
.btn:active{
    transform: scale(0.98);
}
.text{
    margin-top: 30px;
}

.form-control label{
    position: absolute;
    top: 15px;
    left:0;
}
.form-control label span{
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      
}
.form-control  input:focus + label span,
.form-control  input:valid + label span{
   color: steelblue;
   transform: translateY(-30px);
}
.contactusfootergridcontent{
    padding: 10px 0;
}
.contactusfootergridcontent > p{
    font-size: 12px;
}
.contactusfootergridcontent > div{
    font-size: 17px;
    
}


@media only screen and (max-width:768px){
    

    /* contact page*/
    .containercontactUs{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 100px; 
    }
    .containercontactusFooter{
        width: 100%;
        
     
        
    }
    .containercontactusForm{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 60px 0;
        width: 100%;
    }
    /*Contact page ends her*/
    .nav{
        display: grid;
        grid-template-columns: 1fr 5fr 5fr;
        width: 100%;
        color:#fff;
      
    }
    
    
     .nav-link{
         color: gray;
         border: none;
         font-size: 12px;
         margin: 2px;
         padding: 1px 10px;
     }
     .hometopdivall{
        display:contents;
        margin-top: 50px;
        
    }
    .hometopdiv{
        margin-top: 50px;
        width: 100%;
        
    }
    .homeimageright{
        margin-top: 50px;
        width: 100%;
    }
    
    .homeimage{
        width: 100%;
        height: 300px;
        border-radius: 0px;
        transform:none;
    
    }
    .hometop > a{
        -webkit-text-stroke-width:0;
        -webkit-text-stroke-color: white;
        color: #fff;   
        text-decoration: none;
        z-index: 2;
    }
    .aboutdetails {
        width: 100%;
    }
    .hometopP{
   
        font-weight: 400;
        margin-top: 10px;
        font-size: 1rem;
    }
    .hometop{
    
        font-weight: 400;
        font-size: 2rem;
        line-height: 1;
        margin-top: 90px;
    }
    .fullimage{
        height: 500px;
    }
    
    .nametabAlign{
    display: block;
    width: 100%;
    margin-bottom: 100px;
    }
    
    .nametabAlignsecond{
        width: 100%;
    }
    .nametab{
        margin-top: 100px;
        text-align: left;
       
    }
    .nametabP{
    text-align: left;    
    }
    .textspans{
        margin-top: 100px;
        font-weight: 600;
        font-size:3rem;
        line-height: 1;
        text-align: left;
    }
    .textspan2{
        margin-left:50%;
    }
   
    .textspan1:hover{
        font-size: 3rem;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        color: black;
    
    }
    .textspan2:hover{
        font-size: 3rem;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        color: black;
    }
    .textspan3:hover{
        font-size: 3rem;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        color: black;
    }
    .sayHelloHere{
        text-align: center;
        padding: 60px 0;
        font-weight: 600;
        font-size: 12px;
    }
    .contactHello{
        font-size: 1rem;
    }
    .homePageFootersmall{
        display: contents;
        padding: 10px 0;
        line-height: 2;
        
    }
    .footerFlex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 5px;
    }
    .one{
        width:100px;
    }
    .homePageFooter1{
        display: none;
    }

    /*Work Code starts here*/
    .hometopwork{
        font-size: 0.7em;
        line-height: 1;
       
    }
    
    .workImages{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 0;
        
    }
    .seemoreAboutMain{
        display: flex;
       justify-content: center;   
    }
    .workImagesdiv{
        width: 100%;
        margin: 10px;
        padding-bottom: 40px;
    }
 
    .seemoreAboutdiv{
        position: relative;
        margin: 5px 5px 100px 0;
    }
    
    /*About starts here*/

    .aboutClass{
        text-align: center;
        font-size: 0.7em;
       
    }
    
    .aboutMeFirstImage{
      
            width: 100%;
            height: 500px;
           border: 1px solid gray;
        border-radius: 0;
        
    }
    
    .aboutIntroduction{
        font-size: 0.4em;
       
    
    }
    .hometopabout{
        text-align: center;
            font-size: 1em;
            margin: 100px 0 20px 0;
            font-weight: 600;
        }
    
    .aboutExperience{
        font-size: 0.4em;
    }
    
    .historyStory{
        display: flex;
        flex-wrap: wrap;
        font-size: 0.4em;
    }
    
    .historyText{
        width: 100%;
        margin: 0;
    }
    
    .historyImage{
        width: 100%;
        height: 400px;
        background-color:#ffffff;
    }

}