*{
max-width: 100%;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.scroll{
    transform: translateX(200%);
    transition: transform 0.4s ease;
}
.scroll:nth-of-type(even){
    transform: translateX(-200%);
    }
    .scroll.show{
        transform: translateY(0);
    }

.navbarContent{
    border: 1px solid #ffffff;
    border-radius: 25px;
    margin: 5px;
    width: 100px;
    text-align: center;
    height: 30px;
    font-size: 10px;
}
body{
    background-color: #000;
    color: #fff;
}
.nav{
    display: grid;
    grid-template-columns: 5fr 10fr 5fr;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 25px 5px;
    color:#fff;
}
.navbarList{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
 }

 .nav-link{
     color: gray;
     border: 1px solid gray;
     border-radius: 30px;
     padding: 6px 30px;
 }
 .nav-link:hover{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 6px 30px;
}
  .navbarlogo{
      color: #fff;
      font-weight: 900;
  }
 .navbarlogo, .nav-link{
text-decoration: none;


 }
 
.hometopdivall{
    display: flex;
    margin-top: 50px;
    
}
.hometopdiv{
    width: 70%;
    margin-top: 40px;
}
.homeimageright{
    margin-top: 50px;
    width: 30%;
}

.homeimage{
   
    width: 350px;
    height: 450px;
    border: 1px solid gray;
    border-radius: 20px;
    background-image: url(../images/DaveSose\ 1.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    transform: rotate(8deg);

}

.hometopP{
   
    font-weight: 500;
    margin-top: -40px;
    font-size: 1.5rem;
}
.hometop{

    font-weight: 800;
    font-size: 7rem;
    line-height: 1;
}

.nametabAlign{
display: flex;
width: 100%;

}
.nametabAlignfirst{
width:50%;
}
.nametabAlignsecond{
    width: 50%;
}
.nametab{
    margin-top: 100px;
   
}
.nametabP{
font-weight: 300;
font-size: 18px;

}

.hometop1{
    padding-top: 20px;
}
.fullimage{
    width: 100%;
    height: 500px;
    background-image: url(../images/DaveSose2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   border: 1px solid gray;


}

.aboutdetails {
    width: 50%;
}

.textspans{
    margin: 0;
    font-weight: 600;
    font-size:10rem;
    line-height: 1;
}
.textspan2{
    margin-left: 600px;
    text-decoration: none;
    color: #fff;

}
.textspan1, .textspan3{
    text-decoration: none;
    color: #fff;
}
.textspan1:hover{
    font-size: 9rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    color: black;

}
.textspan2:hover{
    font-size: 9rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    color: black;
}
.textspan3:hover{
    font-size: 9rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    color: black;
}

.sayHelloHere{
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}
.contactHello{
    font-size: 2em;
}

.homePageFooter1{
    margin-top: 80px;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr;
    font-size: 16px;
    font-weight: 400;
}

/* Styling for work page*/

.hometopwork{
    font-size: 1.2em;
    text-align: center;
    line-height: 1;
}

.workImages{
    display: flex;
    padding-bottom: 80px;
    
}
.workImagesdiv{
    width: 50%;
    margin: 10px;
}

.comingsoon{
    border: 1px solid gray;
    width: 100%;
    height: 400px;
    position: relative;
}
.comingsoonText{
    font-size: 18px;
    font-weight: 600;
}
/* About code starts here*/
.aboutClass{
    text-align: center;
    font-size: 1.3em;
    margin-top: 100px;
}

.aboutMeFirstImage{
  
        width: 100%;
        height: 500px;
       border: 1px solid gray;
    border-radius: 10px;
    
}

.aboutIntroduction{
    font-size: 0.5em;
    text-transform: uppercase;
    line-height: 1.2;
    padding-bottom: 10px;
    font-weight: 400;

}
hr.aboutLine {
    border: 0.5px solid gray;
}

.aboutExperience{
    font-weight: 400;
    padding-top: 50px;
    font-size: 24px;
}

.historyStory{
    display: flex;
    width: 100%;
    font-weight: 400;
    padding-top: 50px;
    font-size: 18px;
    line-height: 1.5;
    padding-bottom: 50px;
}

.historyText{
    width: 50%;
}

.historyImage{
    width: 50%;
    background-color:#ffffff;
}
.homePageFootersmall{
    display: none;
}

@media only screen and (max-width:768px){
    
    .nav{
        display: grid;
        grid-template-columns: 1fr 5fr 5fr;
        width: 100%;
        color:#fff;
      
    }
    
    
     .nav-link{
         color: gray;
         border: none;
         font-size: 12px;
         margin: 2px;
         padding: 1px 10px;
     }
     .hometopdivall{
        display:contents;
        margin-top: 50px;
        
    }
    .hometopdiv{
        margin-top: 50px;
        width: 100%;
        
    }
    .homeimageright{
        margin-top: 50px;
        width: 100%;
    }
    
    .homeimage{
        width: 100%;
        height: 300px;
        border-radius: 0px;
        transform:none;
    
    }
    .aboutdetails {
        width: 100%;
    }
    .hometopP{
   
        font-weight: 400;
        margin-top: 10px;
        font-size: 1rem;
    }
    .hometop{
    
        font-weight: 400;
        font-size: 2rem;
        line-height: 1;
        margin-top: 90px;
    }
    
    .nametabAlign{
    display: block;
    width: 100%;
    margin-bottom: 100px;
    }
    
    .nametabAlignsecond{
        width: 100%;
    }
    .nametab{
        margin-top: 100px;
        text-align: left;
       
    }
    .nametabP{
    text-align: left;    
    }
    .textspans{
        margin-top: 100px;
        font-weight: 600;
        font-size:3rem;
        line-height: 1;
        text-align: left;
    }
    .textspan2{
        margin-left:50%;
    }
    .hometop > a{
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        color: black;   
        text-decoration: none;
    }
    .textspan1:hover{
        font-size: 3rem;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        color: black;
    
    }
    .textspan2:hover{
        font-size: 3rem;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        color: black;
    }
    .textspan3:hover{
        font-size: 3rem;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        color: black;
    }
    .sayHelloHere{
        text-align: center;
        padding: 60px 0;
        font-weight: 600;
        font-size: 12px;
    }
    .contactHello{
        font-size: 1.5rem;
    }
    .homePageFootersmall{
        display: contents;
        padding: 10px 0;
        
    }
    .footerFlex{
        display: flex;
        flex-wrap: wrap;
        column-gap: 5px;
    }
    .one{
        width:100px;
    }
    .homePageFooter1{
        display: none;
    }

    /*Work Code starts here*/
    .hometopwork{
        font-size: 0.7em;
        line-height: 1;
       
    }
    
    .workImages{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 0;
        
    }
    .workImagesdiv{
        width: 100%;
        margin: 10px;
        padding-bottom: 40px;
    }
    
    /*About starts here*/

    .aboutClass{
        text-align: center;
        font-size: 0.7em;
       
    }
    
    .aboutMeFirstImage{
      
            width: 100%;
            height: 400px;
           border: 1px solid gray;
        border-radius: 0;
        
    }
    
    .aboutIntroduction{
        font-size: 0.4em;
       
    
    }
  
    
    .aboutExperience{
        font-size: 0.4em;
    }
    
    .historyStory{
        display: flex;
        flex-wrap: wrap;
        font-size: 0.4em;
    }
    
    .historyText{
        width: 100%;
    }
    
    .historyImage{
        width: 100%;
        height: 400px;
        background-color:#ffffff;
    }

}