*{
max-width: 100%;
}
.navbarContent{
    border: 1px solid #ffffff;
    border-radius: 25px;
    margin: 5px;
    width: 100px;
    text-align: center;
    height: 30px;
    font-size: 10px;
}
.hometop{
    margin-top: 20px;
    padding-top: 90px;
    font-size: 2.5em;

    line-height: 0.9;
    font-weight: 700;
   
}
.hometopdivall{
    margin-bottom: 60px;
}
.hometopdiv{
    width: 60%;
}
.homeimageright{
    margin-top: 50px;
    width: 40%;
}
.homeimage{
   
    width: 400px;
    height: 450px;
    background-color: #ffffff;
    border-radius: 20px;
    position: relative;
    transform: rotate(10deg);

}
.hometopP{
   
    font-weight: 600;
}
.introbody{
    width: 100%;
}


.nametab{
    margin-top: 100px;
   
}
.nametabP{
font-weight: 300;
font-size: 18px;

}
.hometop1{
    padding-top: 20px;
}
.fullimage{
    width: 100%;
    height: 500px;
    background-color: #ffffff;


}
.aboutdetails {
    width: 50%;
}
.textspans{
    margin-top: 100px;
    font-weight: 600;
    font-size:16rem;
    line-height: 1;
}
.textspan2{
    margin-left: 600px;
}
.sayHelloHere{
    text-align: center;
    padding: 60px 0;
    font-weight: 600;
    font-size: 18px;
}
.contactHello{
    font-size: 6em;
}
.homePageFooter{
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr;
    font-size: 18px;
    font-weight: 600;
}

/* Styling for work page */
.hometopwork{
    font-size: 4em;
    text-align: center;
    line-height: 1;
}
.workImages{
    display: flex;
    padding-bottom: 80px;
    
}
.workImagesdiv{
    width: 50%;
    margin: 10px;
}
.comingsoon{
    background-color: #ffffff;
    width: 100%;
    height: 400px;
    position: relative;
}
.aboutClass{
    text-align: center;
    font-size: 4em;
    margin-top: 100px;
}
.aboutMeFirstImage{
    width: 100%;
    height: 500px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 20px;
}
.aboutIntroduction{
    font-size: 1em;
    text-transform: uppercase;
    line-height: 1.2;
    padding-bottom: 10px;
    font-weight: 400;

}

.aboutExperience{
    font-weight: 400;
    padding-top: 50px;
    font-size: 24px;
}
.historyStory{
    display: flex;
    width: 100%;
    font-weight: 400;
    padding-top: 50px;
    font-size: 24px;
    padding-bottom: 50px;
}
.historyText{
    width: 50%;
}

.historyImage{
    width: 50%;
    background-color:#ffffff;
}

@media only screen and (max-width:768px){
    .ulClass{
        display: flex;
    }
    .hometop{
        font-size: 1.5em;
        margin: 0;
        text-align: left;
    }
    .hometopP{
    
        text-align: left;
    }
    .hometopdiv{
        width: 100%;
    }
    .homeimageright{
        margin-top: 50px;
        width: 100%;
    }
    .homeimage{
       
        width: 100%;
        height: 200px;
        background-color: #ffffff;
        border-radius: 0;
        position: relative;
        transform: none;
    
    }
    .nametab,  .nametabP{
        margin-top: 20px;
        text-align: left;
       
    }
    .fullimage{
        width: 100%;
        height: 300px;
        background-color: #ffffff;
    
    
    }
    .aboutdetails {
        width: 100%;
        text-align: left;
    }
    .textspans{
        margin-top: 100px;
        font-weight: 600;
        font-size:3rem;
        line-height: 1;
        text-align: left;
    }
    .textspan2{
        margin-left:50%;
    }
    .sayHelloHere{
        text-align: center;
        padding: 60px 0;
        font-weight: 600;
        font-size: 12px;
    }
    .contactHello{
        font-size: 1.5em;
    }
    .homePageFooter{
        display: block;
        text-align: left;
        font-size: 18px;
        font-weight: 600;
    }
    }
    

